
/* Your CSS Code here. */
body {
      margin: 0;
      padding: 20px;
    }

    .holder {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; /* allows wrapping on new line */
    }

    .item {
      width: 100px;
      height: 100px;
      font-size: 30px;
      color: black;
      display: flex;
      
    }

    /* colors for clarity */
    .item:nth-child(6) {
      background-color: red;
    }

    .item:nth-child(7) {
      background-color: blue;
    }

    .item:nth-child(1),
    .item:nth-child(2),
    .item:nth-child(3),
    .item:nth-child(4),
    .item:nth-child(5) {
      background-color: green;
    }